.card {
  display: inline-block;
  border: solid 1px gray;
  font-size: 10px;
  position: absolute;
  transition: all 2s ease-out;
  left: 0;
  top: 0;
  border-radius: 2px;
  box-shadow: 0 0 1px #00000040;
  font-family: sans-serif;
  width: 54px;
  height: 94px;
  padding: 3px;
  background: white;
}

.tappedCard {
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
}
